@font-face {
  font-family: "Garet";
  src: local("Garet"),
    url("/font/Garet-Book.woff") format("woff"),
    url("/font/Garet-Book.woff2") format("woff2") url("/font/Garet-Heavy.woff") format("woff") url("/font/Garet-Heavy.woff2") format("woff2")
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Garet";
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
}

a,
button {
  cursor: pointer;
}

body {
  background-image: url("/Painel_Estelar.png");
  background-size: 100%;
  background-attachment: fixed;

  @media (max-width: 1000px) {
    background-size: cover;
  }
}